* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
}
ul {
  list-style: none;
}
@font-face {
  font-family: "lufga";
  font-display: swap;
  src: url("./font/LufgaMedium.ttf");
}
body {
  height: 300vh;
  overflow-x: hidden;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
}
nav {
  width: 88vw;
  height: clamp(50px, 12vh, 96px);
  background: #000;
  display: flex;
  border-radius: 45px;
  border: 2px solid rgb(182, 182, 182);
  box-shadow: 0px 5px 5px rgb(182, 182, 182);
  padding: 0px 0.576rem 0px 0.576rem;
  margin-top: 3.47vh;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: clamp(10px, 3vw, 40px);
  align-items: center;
  overflow: hidden;
}
nav ul li a {
  width: clamp(80px, 8vw, 160px);
  height: clamp(40px, 8.5vh, 80px);
  background: none;
  color: white;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.18rem;
  cursor: pointer;
}
nav ul li:hover:not(#logoing) {
  background: #2f2f2f;
  border-radius: 100px;
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: inherit;
}
#logoing {
  width: clamp(150px, 20vw, 300px);
  min-height: 34.72vh;
  position: relative;
  cursor: pointer;
}
#logo,
#hover-logo {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  position: absolute;
}
#logo {
  background-image: url("one/logo.png");
  opacity: 1;
}
#hover-logo {
  background-image: url("one/hover-logo.png");
  opacity: 0;
}
#logoing:hover #logo {
  opacity: 0;
}
#logoing:hover #hover-logo {
  opacity: 1;
}
nav li a:focus {
  background: #fd853a;
}
a:focus,
button:focus {
  outline: 2px solid #fd853a;
  outline-offset: 1px;
}
#article-one {
  width: 100%;
  max-width: 100vw;
  min-height: 51.2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 3.593rem;
}
#name {
  width: 100%;
  max-width: 100vw;
  min-height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#name button {
  width: clamp(100px, 6vw, 160px);
  min-height: clamp(40px, 2.5rem, 60px);
  background: transparent;
  border-radius: 50px;
  border: 1px solid black;
  font-weight: 600;
  font-size: clamp(1.5rem, 2vw, 1.5rem);
  position: relative;
  box-shadow: 0px 5px 5px rgb(168, 168, 168);
}
#name button img {
  position: absolute;
  left: 5.98vw;
  bottom: 1.75rem;
}
#name h1 {
  font-size: clamp(2.5rem, 8vw, 6.25rem);
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 5px 3px rgb(216, 216, 216);
  position: relative;
}
#name span {
  color: #fd853a;
}
#name h1 img {
  position: absolute;
  left: -4.1vw;
  bottom: -3.31rem;
}
#quex {
  width: clamp(300px, 90vw, 1200px);
  min-height: 48.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 8.06rem;
}
#quote img {
  margin-bottom: 1.25rem;
}
#quote p {
  font-family: "lufga";
  font-size: 1.25rem;
  text-shadow: 0px 3px 5px rgb(154, 154, 154);
  color: #344054;
}
#experience {
  height: auto;
  display: flex;
  align-items: end;
  flex-direction: column;
}
#experience h1 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: end;
  text-shadow: 0px 3px 5px rgb(190, 190, 190);
}
#experience p {
  font-weight: 600;
  font-size: 1.25rem;
  text-shadow: 0px 3px 5px rgb(208, 208, 208);
}
#photo {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
}
#photo img {
  max-width: 100%;
  height: auto;
  transform: translateY(15%);
  margin-bottom: -2.68rem;
}
#pore {
  width: fit-content;
  max-width: clamp(180px, 90%, 350px);
  min-height: clamp(40px, 4vh, 90px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.62rem;
  backdrop-filter: blur(7px);
  list-style: none;
  position: absolute;
  bottom: 1.06rem;
  left: 36.25rem;
  cursor: pointer;
}
#pore li {
  min-height: 4.53rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  border-radius: 100px;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.625rem);
  letter-spacing: 1px;
  /* padding: 0rem 1rem; */
}
#portfolio {
  width: 65%;
  background: #fd853a;
  font-weight: 600;
  transform: translateX(-10%);
  /* margin-left: -0.32vw; */
}
#hire-me {
  width: 45%;
  font-weight: 200;
  transform: translateX(0.32vw);
}
#pore li img {
  position: relative;
  top: -1.31rem;
}
#hire-me img {
  opacity: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  #article-one {
    height: 100vh;
  }
  #name {
    transform: translateX(5%) scale(100%);
  }
  #name button img {
    position: absolute;
    left: 95%;
    bottom: 80%;
  }
  #name h1 {
    font-size: clamp(5rem, 8vw, 10rem);
  }
  #name h1 img {
    position: absolute;
    left: -11%;
    bottom: -42%;
  }
  #photo img {
    transform: translateY(24.5vh) translateX(1.5vh);
  }
  #pore {
    width: 34%;
    height: 9vh;
    transform: translate(-117%, 200%);
  }
  #pore li {
    height: 40%;
  transform: translateX(0.32vw);
  margin-left: -20px;
  }
}
#article-two {
  width: clamp(300px, 99vw, 1600px);
  height: 56.7rem;
  /* min-height: 105vh; */
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  background-image: url("two/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
#article-two header {
  width: 90%;
  height: 18.9rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
#article-two header h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(1.8rem, 4vw, 3.125rem);
  font-weight: 600;
}
#article-two header h1 span {
  color: #fd853a;
}
#absolutly {
  position: absolute;
}
#yellow-three,
#yellow-two,
#yellow-one {
  position: relative;
}
#yellow-three {
  top: -35%;
  left: -9.3%;
}
#yellow-two {
  top: -32%;
  left: -2%;
}
#yellow-one {
  top: -10.5%;
  right: -9%;
}
#article-two section:not(#dots) {
  width: 90%;
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 4%;
  margin-left: 5%;
}
#article-two section h1 {
  font-size: 1.875rem;
  font-family: "lufga";
  color: white;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}
#article-two section > div {
  width: 31%;
  height: 60%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  border: 3px solid rgb(137, 137, 137);
  border-radius: 35px;
}
.imaging {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.png {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.8) scaleX(1.23) translateY(3.5%) translateX(45px);
  background-image: url("two/png.png");
  background-repeat: no-repeat;
  mask-image: url("two/Rectangle 6.png");
  mask-size: 100%;
  mask-position: -2.5rem -6.25rem;
  mask-repeat: no-repeat;
}
.rectangle {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.9) scaleX(1.1) translateY(15%) translateX(1.3vw);
  background-image: url("two/Rectangle.png");
  background-repeat: no-repeat;
  mask-image: url("two/Rectangle 6.png");
  mask-size: 100%;
  mask-position: -1.248rem -9.687rem;
  mask-repeat: no-repeat;
}
.main-img-1-3 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(1.01) translateY(25%);
  background-image: url("two/1&3.png");
  background-repeat: no-repeat;
  mask-image: url("two/Rectangle 6.png");
  mask-size: 100%;
  mask-position: 0px -12.5rem;
  mask-repeat: no-repeat;
}
.main-img-2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(1.01) translateY(25%);
  background-image: url("two/2.png");
  background-repeat: no-repeat;
  mask-image: url("two/Rectangle 6.png");
  mask-size: 100%;
  mask-position: 0px -12.5rem;
  mask-repeat: no-repeat;
}
.up-right {
  padding: 3.125%;
  background-color: #1d2939;
  border-radius: 50px;
  transform: scale(1.7);
  position: absolute;
  right: 1.248rem;
  bottom: -0.625rem;
}
#dots {
  width: clamp(60px, 10%, 160px);
  position: absolute;
  bottom: 2.81rem;
  left: 45%;
}
#dots * {
  margin-left: 0.31rem;
}
